<div class="sidebar-wrapper">


  <div class="sidebar">

    <div class="sidebar-titulo">
      <h2>Algamoney</h2>
    </div>

    <div class="sidebar-logo">
        <i class="pi pi-user"></i>
    </div>

    <div class="sidebar-usuario">
        <h2>José da Silva</h2>
      </div>


    <div class="ui-g ui-fluid nav-outer">

    <ul class="navbar-menu">
      <li class="navbar-menuitem"><a href="#">
          <div class="ui-g">
              <div class="ui-g-2">
               <i class="pi pi-dollar"></i>
              </div>
              <div class="ui-g-10">
               <h2>Lançamento</h2>
              </div>

          </div>

      </a></li>
      <li class="navbar-menuitem"><a href="#">
          <div class="ui-g">
              <div class="ui-g-2">
               <i class="pi pi-users"></i>
              </div>
              <div class="ui-g-10">
                  <h2>Pessoas</h2>

              </div>

          </div>
      </a></li>
      <li class="navbar-menuitem"><a href="#"><div class="ui-g">
          <div class="ui-g-2">
              <i class="pi pi-power-off"></i>
                  </div>
          <div class="ui-g-10">
            <h2>Logout</h2>
          </div>

      </div></a></li>
    </ul>



  </div>
  <div class="sidebar-brand">
      <i class="pi pi-spinner"></i>
  </div>

  </div>
  </div>
