<app-breadcrumb text="Pesquisar Pessoas"></app-breadcrumb>

<div class="container">

  <div id="card-general">


    <div class="ui-g">



  <div class="ui-g-12 ui-fluid">
    <label>Nome</label>
    <input type="text" pInputText />
  </div>

  <!-- <div class="ui-g-12">
    <label style="display: block">Vencimento</label>
    <input type="text" pInputText style="width: 95px"/>

    <label style="margin-left: 5px">até</label>
    <input type="text" pInputText style="width: 95px; margin-left: 5px"/>

  </div> -->

  <div class="ui-g-12">
    <button pButton type="button" label="Pesquisar"></button>

  </div>

</div>

<div class="ui-g">
  <div class="ui-g-12">
      <app-pessoa-grid [pessoas]="pessoas"></app-pessoa-grid>
    </div>

    <div class="ui-g-12">
      <button pButton label="Nova Pessoa"></button>

    </div>


  </div>


</div>

</div>
