<app-breadcrumb text="Pesquisar Pessoas"></app-breadcrumb>

<div class="container">

  <div id="card-general">


    <div class="ui-g">



  <div class="ui-g-12 ui-fluid">
    <label>Nome</label>
    <input type="text" pInputText />
  </div>

  <!-- <div class="ui-g-12">
    <label style="display: block">Vencimento</label>
    <input type="text" pInputText style="width: 95px"/>

    <label style="margin-left: 5px">até</label>
    <input type="text" pInputText style="width: 95px; margin-left: 5px"/>

  </div> -->

  <div class="ui-g-12">
    <button pButton type="button" label="Pesquisar"></button>

  </div>

</div>

<div class="ui-g">
  <div class="ui-g-12">

      <p-table [value]="pessoas" [paginator]="true" [rows]="3" [responsive]="true">
          <ng-template pTemplate="header">
            <tr>
                <th class="col-valor-header-2">Nome</th>
                  <th class="col-valor-header-2">Cidade</th>
                  <th class="col-valor-header">Estado</th>
                  <th class="col-valor-header">Status</th>
                  <th class="col-valor-header"></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-pessoas>
              <tr>
                  <td>{{pessoas.nome}}</td>
                  <td>{{pessoas.cidade}}</td>
                  <td class="col-data-content">{{pessoas.estado}}</td>
                  <td class="col-data-content" [pTooltip] = "pessoas.status === 'Ativo' ? 'Tornar Inativo' : 'Tornar Ativo'" tooltipPosition="top"><a style="color: inherit" href="#">{{pessoas.status}}</a></td>
                  <td class="col-data-content">
                      <button pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></button>
                      <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" style="margin-left:5px"></button>
                  </td>
                </tr>
          </ng-template>
        </p-table>

    </div>

    <div class="ui-g-12">
      <button pButton label="Nova Pessoa"></button>

    </div>


  </div>


</div>

</div>
