<app-breadcrumb text="Pesquisar Pessoas"></app-breadcrumb>

<div class="container">

  <div id="card-general">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

    <div class="ui-g">



  <div class="ui-g-12 ui-fluid">
    <label>Nome</label>
    <input type="text" pInputText name="nome" [(ngModel)]="filtro.nome"/>
  </div>


  <div class="ui-g-12">
    <button pButton type="submit" label="Pesquisar"></button>

  </div>

</div>
</form>


<div class="ui-g">
  <div class="ui-g-12">

      <p-table #pesquisaPessoas [value]="pessoas" [paginator]="true"
      [rows]="filtro.itensPorPagina" [totalRecords]="totalRegistros"
      (onLazyLoad)="aoMudarPagina($event)" [lazy]="true"
       [responsive]="true">
          <ng-template pTemplate="header">
            <tr>
                  <th class="text-center">Nome</th>
                  <th class="text-center">Cidade</th>
                  <th class="text-center">Estado</th>
                  <th class="text-center">Status</th>
                  <th class="text-center"></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-pessoas>
              <tr>
                  <td class="text-center">{{pessoas.nome}}</td>
                  <td class="text-center">{{pessoas.endereco.cidade}}</td>
                  <td class="text-center">{{pessoas.endereco.estado}}</td>
                  <td class="text-center" (click)="mudarStatus(pessoas)" [pTooltip] = "pessoas.ativo ? 'Desativar' : 'Ativar'" tooltipPosition="top"><a style="color: inherit; text-decoration: none" href="#">{{pessoas.ativo ? 'Ativo' : 'Inativo'}}</a></td>
                  <td class="text-center">
                      <button
                      [routerLink]="['/pessoas/atualiza', pessoas.codigo]"
                       pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></button>
                      <button pButton icon="pi pi-trash" pTooltip="Excluir"
                      (click)="confirmarExclusao(pessoas)"
                      tooltipPosition="top" style="margin-left:5px"></button>
                  </td>
                </tr>
          </ng-template>
        </p-table>

    </div>

    <div class="ui-g-12">
      <button routerLink="/pessoas/novo" pButton label="Nova Pessoa"></button>

    </div>


  </div>


</div>

</div>
