
label{
  font-weight: bold;
}

.col-valor-header-2 {
  width: 190px;
}
.col-valor-header {
  width: 120px;
}
.col-valor-content {
  text-align: right;
}

.col-data-content {
  text-align: center;
}

