 <app-navbar (eventoNavbar)="adicionaEvento($event)"></app-navbar>
<app-menu [@slideInOut]="menuState" (eventoNavbar)="adicionaEvento($event)"></app-menu>

<router-outlet></router-outlet>
<!-- <app-pagina-nao-encontrada></app-pagina-nao-encontrada> -->

<ng2-toasty [position]="'top-left'"></ng2-toasty>
<p-confirmDialog #cd>
  <p-footer>
    <button type="button" class="ui-button-danger" pButton icon="pi pi-check" label="Confirmar exclusão" (click)="cd.accept()"></button>
    <button type="button" class="ui-button-secondary" pButton  icon="pi pi-times" label="Cancelar" (click)="cd.reject()"></button>
</p-footer>

</p-confirmDialog>
