body{
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
  margin: 0;
  background: #e8e7e6;
}


.container{
  padding-top: 140px;
  width: 1120px;
  margin: 0 auto;
  /* border: 2px solid red; */
}

#card-general{
  border-radius: 12px;
  border: 8px solid #f2f1f0;
  background: white;
  margin-top: 40px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.form-buttons{
  margin-top: 30px;
}


label{
  font-weight: bold;
}



